@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="form-container">
    
    <div class="title-container">
        <h3 class="normal-title">Оберіть лікаря, до котрого записатися на прийом</h3>
    </div>
    @model hospital.Models.BookAppointment
    @using (Html.BeginForm("BookAppointmentSchedule", "Doctor", FormMethod.Post))
    {
        <label >Список лікарів</label>
        @if (ViewBag.Doctors != null)
        {

            @Html.DropDownListFor(m => m.Doctor.Id, new SelectList(ViewBag.Doctors, "Id", "FullName" ), "Оберіть лікаря", new { @class = "form-control" })

            <div class="text-danger">
                @Html.ValidationMessage("DoctorId")
            </div>
        }
        else
        {
            <p>No doctors found</p>
        }

        @Html.HiddenFor(m => m.ScheduleId)
        @Html.HiddenFor(m => m.ReasonForAppeal)
        ;
        <button type="submit">Select</button>



    }


</div>